.app-layout{

  display:flex;

}

.content-area{

  margin-left:260px;

  margin-top:70px;

  width:calc(100% - 260px);

  padding:24px;

  min-height:calc(100vh - 70px);

  background:#f5f7fa;

  transition:.3s;

}

.content-area.collapsed{

  margin-left:80px;

  width:calc(100% - 80px);

}